         

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">
 
						 <div class="col-md-6" align="center">
							 <h3>Honda FAME Atizapán</h3> <br>
                             <span class="single-project-content">
                                 <img alt="Honda Atizapán Ubicación" src="images/fachada-honda-atizapan.jpg">
                             </span>                       
	                         <li>
	                         	 <span><i class="fa fa-home"></i>Circuito Ruiz Cortines #353.</span> <span>Lote 10, Manzana 1. </span><span>Colonia Las Margaritas. CP 52977.</span><span> Atizapán de Zaragoza, Estado de México.</span>
	                         </li>
                         </div>

			             <!-- Map box -->
                         <div class="col-md-6" align="center">
                         <h3>Ubicación</h3><br>
                         <span class="single-project-content">
				             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.811213685425!2d-99.27862668509154!3d19.549716986817923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdc7dcbb458a0816d!2sFAME+Honda+Atizap%C3%A1n!5e0!3m2!1ses-419!2smx!4v1533595006237" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			             </span> 

            </div>

					</div>
				</div>
			</div>

		</div><br>


	 
	
</body>
</html>